@charset "UTF-8";


table, tr, th, td {
	width: 35%;
border: 1px #ff0000 solid;
  border-collapse: collapse;
    border:3px solid #333;
}

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.main{
	float: left;
	width: 100%;
}

.menu {
	float: left;
	width: 20%;
	background-color: #00FFFF;
	border: 2px solid black;
	text-align: center;
	height: 5%;
}

h3 {
	background-color: blue;
}

.next {
	height: 93%;
	background-image:
		url("../gazo/img001.jpg");
	opacity: 0.75;
	background-size:100% 100%;
	float: left;
	width: 100%;


}

body {
	margin: 0px;
}

html, body {
	height: 100%;
}

.fotter {
	background: #99CCFF	;
	float: left;
	width: 100%;
	}

textarea{
	width: 80%;
	text-align: center;
}

.puramo{
	width: 45% ;
}

h1{
	font-size: 50px;
	font-style: italic;
	color: blue;
}

.hikaku{
	float: left;
}
